<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="\\Mac\Home\Documents/Path of Building/Builds/toxic rain.xml"/>
		<Arg string="toxic rain"/>
	</Mode>
	<Accounts lastAccountName="DarcorNH" lastRealm="SONY">
		<Account accountName="DarcorNH"/>
	</Accounts>
	<SharedItems/>
	<Misc showTitlebarName="true" thousandsSeparator="," betaTest="false" nodePowerTheme="RED/BLUE" decimalSeparator="." showThousandsSeparators="true" buildSortMode="NAME"/>
</PathOfBuilding>
